.brick
{
	position: absolute;
	height:30px;
	width:30px;
	background-color:#CCC;
	border: solid #AAA 1px;
	text-align: center;
}

.light
{
	height:3px;
	width:15px;
	background-color:#D9D9D9;
	/*opacity:0.2;*/
}

.tableHead
{
	position: absolute;
	width: 410px;
	height: 7px;
	background: #000000;
	left: 140px;
	top: 70px;
	border-bottom-left-radius: 5px;
	border: solid 1px black;
	background-image: url("Img/woodFloor.jpg");
	/*background-size: 100% 100%;*/

}

.table
{
	position: absolute;
	width: 400px;
	height: 50px;
	background: #000000;
	left: 8px;
	top: 7px;
	border: solid 1px black;
	background-image: url("Img/woodFloor.jpg");
	/*background-size: 100% 100%;*/
}

.beer
{
	position: absolute;
	width: 25px;
	height: 25px;
	background-image: url("Img/beer.png");
	background-size: 100% 100%;
}

.people
{
	position: absolute;
	width: 40px;
	height: 65px;
	background-size: 100% 100%;
}

#playerCharacter
{
	position: absolute;
	width: 40px;
	height: 90px;
	background-image: url("Img/bartender.png");
	background-size: 100% 100%;
}

#court
{
	position: absolute;
	left: 0px;
	top: 52px;
	width: 550px;
	height: 550px;
	background: #000000;
	border: solid 2px black;
	background-image: url("Img/wood_05.jpg");
	background-size: 100% 100%;
}

#textWinOrLose
{
	position: absolute;
	left: 150px;
	top: 68px;
	color: white;
	font-size: 16px;
	font-family: Helvetica;
}

#headCourt
{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 288px;
	height: 50px;
	background: #cccccc;
	border: solid 2px black;
}

#player
{
	position: absolute;
	left: 50px;
	top: 5px;	
	height: 20px;
	text-align: center;
}

#playerText
{
	font-family: Arial;
	font-size: 14px;	
}

#reset
{
	position: absolute;
	left: 119px;
	top: 14px;	
	width: 50px;
	height: 20px;		
}

#computer
{
	position: absolute;
	left: 450px;
	top: 5px;	
	text-align: center;
	height: 20px;
}

#computerText
{
	font-family: Arial;
	font-size: 14px;
}

#testClick
{
	position: absolute;
	left: 0px;
	height: 0px;
	color: red;
}